:root {
  --base: #dad3be;
  --primary: #254336;
  --secondary: #362524;
  --highlight: #ffcc99;
  --light-gray: #f0ead6;
  --medium-gray: #b0a890;
  --dark-gray: #524c40;
  --light-green: #99a896;
  --medium-green: #597a69;
}

body {
  background-color: var(--base);
  height: 100vh;
}

h1 {
  color: var(--medium-green);
}

a {
  text-decoration: none;
}
